/* import fonts */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* general root */

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
    --fw-small: 400;
    --fw-medium: 600;
    --fw-bold: 700;
    --ff: 'Inter', sans-serif;
}



/* general config */

*{
    font-family: var(--ff);
    font-size: 14px;
}



/* body */

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--grey-900);
    box-sizing: border-box;
}



/* main card */

main{
    margin-top: 50px;
    flex:1;
    margin: auto;
    width: 375px;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}


/* card general content */
.card{
    padding: 25px;
    text-align: center;
    margin-top: 50px;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    background-color: var(--grey-800);
    justify-content: center;

}

img{
    display: block;
    width: 40%;
    margin: auto;
    border-radius: 50%
}

/* card links */

.buttons{
    display: flex;
    flex-direction: column;
}

button{
    background-color:var(--grey-700);
    box-shadow: none;
    border: 0;
    color: var(--white);
    padding: 15px;
    margin: 5px;
    border-radius: 10px;
    font-weight: var(--fw-bold);
}


/* footer */


footer{
    background-color: black;
    height: 4vh;
    align-content: center;
    margin-top: 50px;
}

h1{
    color: var(--white);
    font-size: large;
}

.location{
    color: var(--green);
}

p{
    color: var(--white);
}

a{
    text-decoration: none;
    color: var(--white);
    font-weight: var(--fw-bold);
}

button:hover{
    border: 1px solid white;
}

.footer-a{
    color: var(--white);
}